@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avant Garde";
  src: url("/fonts/AvantGarde.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@layer base {
  html {
    @apply text-[calc(7.92453px+1.88679vw)] md:text-[calc(8px+.78125vw)] lg:text-[.9259259259vw];
  }

  body {
    @apply bg-dark text-accent font-display md:min-h-screen;

    & * {
      @apply select-none;
    }
  }
}
